body {
    margin: 0;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    width: 100%;
    display: block;
}

.container {
    max-width: 1200px;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.container-big {
    max-width: 1600px;
    padding: 0;
    box-sizing: border-box;
    margin: 0 auto;
}